* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Quantico', sans-serif;
    font-family: 'Tilt Warp', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared style */
.primary-text {
    color: #FF42A5;
}

.p-text {
    color: #878195;
    font-size: 1.125rem;
    font-weight: 400;

}

/* nav style */
.nav-container {
    display: flex;
    justify-content: space-around;

    align-items: center;
    margin: 40px 0px;
}

.logo-img {
    width: 86px;
    height: 40px;
}

.nav-logo p {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.with-border {
    width: 200px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    border: none;
    padding: 18px 20px;
    text-align: center;
    cursor: auto;
}

/* banner styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.banner-container {
    background-image: url('./images/Group14.png');
    background-size: 100%;
}

.bnr-btn-1 {
    background-color: #FF42A5;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 15px 30px;
    margin-right: 10px;
}

.bnr-btn-2 {
    background-color: #4EC5F7;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 15px 30px;
}

.bnr-img {
    width: 100%;
}

.title-h4 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.title-h2 {
    font-size: 5.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 10px;
}

.bnr-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 15px;
}

/* "play" section style */
.play-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 200px;
    text-align: right;
}

.play-container h3 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.play-img {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.angela {
    width: 300px;
    height: 400px;
    position: relative;
    top: 350px;
    left: 150px;
}

/* funny video- style */
.funny-videos {
    max-width: 1440px;
    margin: 60px auto;
    min-height: 400px;
}

.funny-text {
    text-align: center;
    margin: 20px 0px;
}

.funny-video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.funny-videos>h3,
p {
    text-align: center;
    padding: 20px 0px;
}

.funny-videos>h3 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.gradient {
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.overlay {
    text-align: center;
    position: relative;
    bottom: 50%;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.f-img {
    cursor: pointer;
}

.f-img:hover {
    filter: brightness(30%);
}

.funny-img:hover .overlay {
    opacity: 1;
}

/* button-icons styles */
.buttons1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 120px;
    margin-left: 80px;
   

}

.buttons2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 20px;
    margin-left: 120px;
}

.button-icon {
    border: 1px solid rgba(242, 187, 196, 0.137);
    max-width: 1900px;
    min-height: 400px;
    background-color: rgba(242, 187, 196, 0.137);
    margin-top: 30px;
}

.img-b {
    width: 60px;
}

.btn-b {
    width: 250px;
    height: 80px;
    padding: 20px;
    border-radius: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    margin-top: 0 auto;
}
.btn-text{
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;
}
/* footer */
.logo-text{
color: #FFF;
font-size: 2.3rem;
font-weight: 700;
}
.upper-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
footer{
    max-width: 1920px;
    min-height: 600px;
  
    background-color: #0B0223;;
}
.upper-text h5{
color: #FFF;
font-size: 1.2rem;
font-weight: 600;
}
.upper-text{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 60px 400px;
}
.mid-icon{
    width: 40px;
    height: 40px;
}
.middle-icon{
  text-align: center;
  margin-top: 60px;
}
.mid-img{
    padding: 0px 30px;
}
.terms{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 70px 60px;
}



/* Mediaquery */
/* mediaquery for mobile */
@media screen and (max-width:425px) {

    .nav-container,
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
        background: 100%;
    }

    .banner-container img {
        width: 300px;
        margin: 0;
    }

    .banner-text {
        background-image: url('./images/Group14.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .play-container {
        flex-direction: column;
        text-align: center;
    }

    .horse {
        width: 500px;
        margin-right: 230px;
    }

    .angela {
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 500px;
        top: 190px;
        left: 130px;
    }

    .funny-video-container {
        grid-template-columns: 1fr;
    }

    .funny-img {
        margin: 0 auto;
    }
    .buttons1{
        grid-template-columns: 1fr;
    } 
    .buttons2{
        grid-template-columns: 1fr;
        margin-left: 80px;
        gap: 5px;
    }
    .upper-logo{
        flex-direction: column;
    }   
}

/* mediaquery for tablet */
@media screen and (min-width:425px) and (max-width:768px) {
    .nav-container {
        flex-direction: column;
        gap: 15px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-container img {
        width: 300px;
        margin: 0;
    }

    .play-container {
        flex-direction: column;
        text-align: center;
    }

    .horse {
        width: 300px;
        margin-right: 250px;
        margin-left: 50px;
    }

    .angela {
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 500px;
        top: 190px;
        left: 190px;
    }
    .buttons1{
        width: 100%;
        grid-template-columns: repeat( 2, 1fr);
    } 
    .buttons2{
        width: 100%;
        grid-template-columns:  repeat( 2, 1fr);
        margin-left: 80px;
        gap: 5px;
    } 

}